<!DOCTYPE html>
<html lang="en">
<head>
    <title>Node Js</title>
</head>
<style>

    .nav{
        box-shadow: 0 0 10px black;
        margin: 10px 200px;
        padding-bottom:50px ;
        border-radius: 10px;
    }
    .main{
        word-spacing: 20px;
        font-size: 25px;
        margin: 17px 56px ;
        border-bottom: 3px solid black;
        
    }
    a{
        text-decoration: none;
    }

</style>
<body>
    <div class="nav card m-4 ">
        <div class="main ">
            <a href="Home">Home</a>
            <a href="Products">Products</a>
            <a href="Contact">Contact</a>
            <a href="About">About</a>
        </div>
        <div class="page-content">
           <h5>{{%CONTENT%}}</h5>
            
        </div>
    </div>
</body>
</html>